In [1]:
from astropy.io import ascii
data = ascii.read("ES.asc")
print(data)

  Date    Time   Open    High    Low    Close  Volume
-------- ----- ------- ------- ------- ------- ------
09/10/97 08:31  1089.0 1089.25  1089.0 1089.25      0
09/10/97 08:32  1089.0  1089.0 1088.75  1089.0      0
09/10/97 08:33 1088.75  1089.0  1088.5 1088.75      0
09/10/97 08:34  1089.0  1089.5  1089.0 1089.25      0
09/10/97 08:35 1089.25 1089.25  1088.5  1088.5      0
09/10/97 08:36 1088.25  1088.5 1087.75 1087.75      0
09/10/97 08:37  1088.0 1088.25  1088.0 1088.25      0
09/10/97 08:38 1088.25 1088.25  1087.5 1087.75      0
09/10/97 08:39  1087.5 1088.75  1087.5 1088.75      0
09/10/97 08:40  1088.5  1088.5  1087.5  1087.5      0
     ...   ...     ...     ...     ...     ...    ...
01/27/17 15:05  2289.5 2289.75 2289.25 2289.75   4163
01/27/17 15:06 2289.75 2289.75  2289.5  2289.5    529
01/27/17 15:07 2289.75 2289.75  2289.5  2289.5    854
01/27/17 15:08 2289.75 2289.75  2289.5  2289.5    986
01/27/17 15:09 2289.75 2289.75  2289.5 2289.75   1173
01/27/17 15:10  2289.5 2289.75 2289.25  2289.5   2140
01/27/17 15:11 2289.25  2289.5 2289.25 2289.25    668
01/27/17 15:12 2289.25  2289.5 2289.25  2289.5    611
01/27/17 15:13  2289.5  2289.5 2289.25 2289.25    839
01/27/17 15:14  2289.5  2289.5  2289.0  2289.0   1662
01/27/17 15:15  2289.0  2289.5 2288.75 2288.75   9435
Length = 1981244 rows

In [2]:
colval = data['Close']

In [3]:
print(colval)

 Close
-------
1089.25
 1089.0
1088.75
1089.25
 1088.5
1087.75
1088.25
1087.75
1088.75
 1087.5
    ...
2289.75
 2289.5
 2289.5
 2289.5
2289.75
 2289.5
2289.25
 2289.5
2289.25
 2289.0
2288.75
Length = 1981244 rows

In [6]:
colval[0]

1089.25

In [7]:
type(colval)

astropy.table.column.Column

In [9]:
colval[1 to 2]

SyntaxError: invalid syntax (<ipython-input-9-893c1bb83669>, line 1)

In [10]:
colval[1,2]

IndexError: too many indices for array

In [18]:
import numpy as np
i=np.arange(2,10,1)

In [19]:
colval[i]

<Column name='Close' dtype='float64' length=8>
1088.75
1089.25
 1088.5
1087.75
1088.25
1087.75
1088.75
 1087.5

In [21]:
len(data)

1981244

In [29]:
t2 = data['Date' is '09/11/97']
print t2

  Date    Time  Open    High   Low    Close  Volume
-------- ----- ------ ------- ------ ------- ------
09/10/97 08:31 1089.0 1089.25 1089.0 1089.25      0

  Date    Time  Open    High   Low    Close  Volume
-------- ----- ------ ------- ------ ------- ------
09/10/97 08:31 1089.0 1089.25 1089.0 1089.25      0

In [30]:
t2 = data['Date' is '09/11/97']
print t2

  Date    Time  Open    High   Low    Close  Volume
-------- ----- ------ ------- ------ ------- ------
09/10/97 08:31 1089.0 1089.25 1089.0 1089.25      0

In [31]:
t1 = data[data['Date'] is '09/10/97']

In [32]:
print t1

  Date    Time  Open    High   Low    Close  Volume
-------- ----- ------ ------- ------ ------- ------
09/10/97 08:31 1089.0 1089.25 1089.0 1089.25      0

In [34]:
t0 = data['Date']
print t0

  Date
--------
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
     ...
01/27/17
01/27/17
01/27/17
01/27/17
01/27/17
01/27/17
01/27/17
01/27/17
01/27/17
01/27/17
01/27/17
Length = 1981244 rows

In [35]:
type(t0)

astropy.table.column.Column

In [36]:
t0[1]

'09/10/97'

In [41]:
t0[1] == '09/12/07'

False

In [42]:
t1 = t0[t0[:]=='09/10/97']

In [43]:
print t1

  Date
--------
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
     ...
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
09/10/97
Length = 405 rows

In [44]:
t2 = data[t0[:]=='09/10/97']
print t2

  Date    Time   Open    High    Low    Close  Volume
-------- ----- ------- ------- ------- ------- ------
09/10/97 08:31  1089.0 1089.25  1089.0 1089.25      0
09/10/97 08:32  1089.0  1089.0 1088.75  1089.0      0
09/10/97 08:33 1088.75  1089.0  1088.5 1088.75      0
09/10/97 08:34  1089.0  1089.5  1089.0 1089.25      0
09/10/97 08:35 1089.25 1089.25  1088.5  1088.5      0
09/10/97 08:36 1088.25  1088.5 1087.75 1087.75      0
09/10/97 08:37  1088.0 1088.25  1088.0 1088.25      0
09/10/97 08:38 1088.25 1088.25  1087.5 1087.75      0
09/10/97 08:39  1087.5 1088.75  1087.5 1088.75      0
09/10/97 08:40  1088.5  1088.5  1087.5  1087.5      0
     ...   ...     ...     ...     ...     ...    ...
09/10/97 15:05  1077.0 1077.75  1077.0 1077.25      0
09/10/97 15:06  1077.0 1077.75 1076.75  1077.5      0
09/10/97 15:07 1077.75 1077.75  1076.5  1076.5      0
09/10/97 15:08 1076.25 1076.25 1075.75 1075.75      0
09/10/97 15:09 1075.75 1076.25  1075.5 1076.25      0
09/10/97 15:10 1076.25 1076.75 1075.75 1076.25      0
09/10/97 15:11 1076.25  1076.5 1076.25 1076.25      0
09/10/97 15:12  1076.5 1076.75  1076.5 1076.75      0
09/10/97 15:13 1076.75 1076.75 1075.75 1075.75      0
09/10/97 15:14 1075.75  1076.0 1074.75 1074.75      0
09/10/97 15:15 1074.75 1075.25 1073.25  1073.5      0
Length = 405 rows

In [61]:
import numpy as np
import pandas as pd
pd.DataFrame(t2).groupby['Date']['Open'].mean()

PandasError: DataFrame constructor not properly called!

In [53]:
from astropy.io import votable
t3 = votable.group(data['Date'])

AttributeError: 'module' object has no attribute 'group'

In [62]:
t2

<Table length=405>
  Date    Time   Open    High    Low    Close  Volume
  str8    str5 float64 float64 float64 float64 int64
-------- ----- ------- ------- ------- ------- ------
09/10/97 08:31  1089.0 1089.25  1089.0 1089.25      0
09/10/97 08:32  1089.0  1089.0 1088.75  1089.0      0
09/10/97 08:33 1088.75  1089.0  1088.5 1088.75      0
09/10/97 08:34  1089.0  1089.5  1089.0 1089.25      0
09/10/97 08:35 1089.25 1089.25  1088.5  1088.5      0
09/10/97 08:36 1088.25  1088.5 1087.75 1087.75      0
09/10/97 08:37  1088.0 1088.25  1088.0 1088.25      0
09/10/97 08:38 1088.25 1088.25  1087.5 1087.75      0
09/10/97 08:39  1087.5 1088.75  1087.5 1088.75      0
09/10/97 08:40  1088.5  1088.5  1087.5  1087.5      0
     ...   ...     ...     ...     ...     ...    ...
09/10/97 15:06  1077.0 1077.75 1076.75  1077.5      0
09/10/97 15:07 1077.75 1077.75  1076.5  1076.5      0
09/10/97 15:08 1076.25 1076.25 1075.75 1075.75      0
09/10/97 15:09 1075.75 1076.25  1075.5 1076.25      0
09/10/97 15:10 1076.25 1076.75 1075.75 1076.25      0
09/10/97 15:11 1076.25  1076.5 1076.25 1076.25      0
09/10/97 15:12  1076.5 1076.75  1076.5 1076.75      0
09/10/97 15:13 1076.75 1076.75 1075.75 1075.75      0
09/10/97 15:14 1075.75  1076.0 1074.75 1074.75      0
09/10/97 15:15 1074.75 1075.25 1073.25  1073.5      0

In [63]:
t2.groupby(['Date'])['Close'].mean()

AttributeError: 'Table' object has no attribute 'groupby'

In [64]:
DataFrame(t2)

NameError: name 'DataFrame' is not defined

In [65]:
pd.DataFrame(t2)

PandasError: DataFrame constructor not properly called!

In [66]:
t3 = t2.to_pandas()

In [67]:
t4 = t3.groupby(['Date'])['Close'].mean()

In [68]:
t4

Date
09/10/97    1085.632099
Name: Close, dtype: float64

In [76]:
np.any(t0[:]=='09/10/97')

True

In [82]:
t5 = data[t0[:]=='09/11/97']
t6 = t2.to_pandas()
t5 = t5.to_pandas()
t_ = [t6, t5]
t7 = pd.concat(t_)
t7

         Date   Time     Open     High      Low    Close  Volume
0    09/10/97  08:31  1089.00  1089.25  1089.00  1089.25       0
1    09/10/97  08:32  1089.00  1089.00  1088.75  1089.00       0
2    09/10/97  08:33  1088.75  1089.00  1088.50  1088.75       0
3    09/10/97  08:34  1089.00  1089.50  1089.00  1089.25       0
4    09/10/97  08:35  1089.25  1089.25  1088.50  1088.50       0
5    09/10/97  08:36  1088.25  1088.50  1087.75  1087.75       0
6    09/10/97  08:37  1088.00  1088.25  1088.00  1088.25       0
7    09/10/97  08:38  1088.25  1088.25  1087.50  1087.75       0
8    09/10/97  08:39  1087.50  1088.75  1087.50  1088.75       0
9    09/10/97  08:40  1088.50  1088.50  1087.50  1087.50       0
10   09/10/97  08:41  1087.50  1088.50  1087.50  1088.50       0
11   09/10/97  08:42  1088.75  1089.00  1088.25  1089.00       0
12   09/10/97  08:43  1088.75  1089.25  1088.50  1089.00       0
13   09/10/97  08:44  1089.00  1089.75  1089.00  1089.75       0
14   09/10/97  08:45  1089.75  1090.00  1089.50  1089.75       0
15   09/10/97  08:46  1089.75  1090.00  1089.75  1090.00       0
16   09/10/97  08:47  1090.25  1090.75  1090.00  1090.75       0
17   09/10/97  08:48  1091.25  1091.50  1090.50  1090.50       0
18   09/10/97  08:49  1090.25  1090.75  1090.00  1090.25       0
19   09/10/97  08:50  1090.25  1090.25  1090.00  1090.00       0
20   09/10/97  08:51  1090.00  1090.50  1090.00  1090.50       0
21   09/10/97  08:52  1090.75  1091.50  1090.75  1091.50       0
22   09/10/97  08:53  1091.25  1091.50  1090.75  1090.75       0
23   09/10/97  08:54  1091.00  1091.00  1090.50  1090.75       0
24   09/10/97  08:55  1091.00  1091.25  1090.50  1090.75       0
25   09/10/97  08:56  1090.75  1091.00  1090.00  1090.25       0
26   09/10/97  08:57  1090.25  1090.50  1090.25  1090.50       0
27   09/10/97  08:58  1090.50  1090.50  1090.50  1090.50       0
28   09/10/97  08:59  1090.75  1090.75  1090.50  1090.75       0
29   09/10/97  09:00  1090.75  1090.75  1090.25  1090.50       0
..        ...    ...      ...      ...      ...      ...     ...
375  09/11/97  14:46  1073.00  1073.00  1073.00  1073.00       0
376  09/11/97  14:47  1073.00  1073.25  1073.00  1073.25       0
377  09/11/97  14:48  1073.50  1073.75  1073.50  1073.75       0
378  09/11/97  14:49  1073.50  1073.75  1073.50  1073.75       0
379  09/11/97  14:50  1074.00  1074.25  1074.00  1074.00       0
380  09/11/97  14:51  1074.00  1074.75  1074.00  1074.50       0
381  09/11/97  14:52  1074.25  1074.25  1073.25  1073.25       0
382  09/11/97  14:53  1073.50  1073.50  1073.25  1073.25       0
383  09/11/97  14:54  1073.25  1073.25  1072.25  1072.25       0
384  09/11/97  14:55  1072.00  1072.00  1072.00  1072.00       0
385  09/11/97  14:56  1071.75  1071.75  1071.75  1071.75       0
386  09/11/97  14:57  1071.75  1071.75  1070.75  1070.75       0
387  09/11/97  14:58  1069.75  1070.50  1069.75  1070.50       0
388  09/11/97  14:59  1070.50  1070.50  1070.50  1070.50       0
389  09/11/97  15:00  1070.25  1070.50  1069.75  1070.50       0
390  09/11/97  15:01  1070.50  1070.50  1069.75  1069.75       0
391  09/11/97  15:02  1069.75  1069.75  1069.75  1069.75       0
392  09/11/97  15:03  1069.75  1069.75  1069.75  1069.75       0
393  09/11/97  15:04  1069.50  1069.50  1069.50  1069.50       0
394  09/11/97  15:05  1069.25  1069.25  1068.75  1068.75       0
395  09/11/97  15:06  1068.75  1068.75  1068.75  1068.75       0
396  09/11/97  15:07  1068.75  1068.75  1068.75  1068.75       0
397  09/11/97  15:08  1069.50  1069.50  1069.50  1069.50       0
398  09/11/97  15:09  1069.25  1070.25  1068.75  1068.75       0
399  09/11/97  15:10  1068.75  1068.75  1068.75  1068.75       0
400  09/11/97  15:11  1068.50  1068.50  1067.50  1067.75       0
401  09/11/97  15:12  1068.00  1069.50  1068.00  1069.25       0
402  09/11/97  15:13  1069.00  1069.00  1068.50  1068.50       0
403  09/11/97  15:14  1068.75  1068.75  1068.75  1068.75       0
404  09/11/97  15:15  1069.00  1069.00  1067.75  1067.75       0

[810 rows x 7 columns]

In [87]:
t7.groupby(['Date'])['Close'].mean()

Date
09/10/97    1085.632099
09/11/97    1068.723457
Name: Close, dtype: float64

In [89]:
t7.groupby(['Date'])['Close'].var()

Date
09/10/97    10.16846
09/11/97    11.04524
Name: Close, dtype: float64