In [3]:
import urllib2
import pandas as pd

In [2]:
url = 'http://chart.finance.yahoo.com/table.csv?s=KO&a=0&b=1&c=2014&d=3&e=15&f=2017&g=d&ignore=.csv'
response = urllib2.urlopen(url)
html = response.read()
with open('coca.csv', 'wb') as f:
    f.write(html)

In [4]:
data = pd.read_csv('coca.csv')

In [5]:
data.head()

         Date       Open       High        Low      Close    Volume  Adj Close
0  2017-04-13  42.869999  43.080002  42.779999  42.790001   9824600  42.790001
1  2017-04-12  42.540001  42.990002  42.509998  42.939999  11987200  42.939999
2  2017-04-11  42.680000  42.750000  42.520000  42.660000   8856800  42.660000
3  2017-04-10  42.730000  42.799999  42.560001  42.689999   9426900  42.689999
4  2017-04-07  42.639999  42.740002  42.509998  42.610001  11028800  42.610001

In [18]:
data = data.reindex(index=data.index[::-1])

In [19]:
data.head()

,Date,Open,High,Low,Close,Volume,Adj Close
826,2014-01-02,41.119999,41.230000,40.509998,40.660000,12698600,36.679448
825,2014-01-03,40.680000,40.730000,40.349998,40.459999,10403400,36.499027
824,2014-01-06,40.480000,40.590000,40.160000,40.270000,11036300,36.327628
823,2014-01-07,40.480000,40.720001,40.290001,40.389999,11872300,36.435880
822,2014-01-08,40.439999,40.439999,39.830002,39.939999,15339600,36.029933

In [20]:
data.iloc[0]

Date         2014-01-02
Open              41.12
High              41.23
Low               40.51
Close             40.66
Volume         12698600
Adj Close       36.6794
Name: 826, dtype: object